<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.soundroid" android:versionCode="1" android:versionName="1.0">
	
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true" android:name="org.soundroid.application.SoundroidApplication">

		<activity android:name="org.soundroid.activities.SoundroidActivity" android:label="@string/app_name">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="soundroid-app" />
			</intent-filter>
		</activity>
		
		<activity android:name="org.soundroid.activities.AboutMeActivity" android:label="@string/app_name">
			<intent-filter>
                <action android:name="org.soundroid.ABOUT" />
                 <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>
		
		<activity android:name="org.soundroid.activities.TracksActivity" android:label="@string/app_name">
			<intent-filter>
                <action android:name="org.soundroid.TRACKS" />
                 <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>
		
		<activity android:name="org.soundroid.activities.ContactsActivity" android:label="@string/app_name">
			<intent-filter>
                <action android:name="org.soundroid.CONTACTS" />
                 <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>
		
		 <!-- Browser-like Activity to navigate dictionary definitions  -->
        <activity
            android:name="org.soundroid.widgets.wiktionary.LookupActivity"
            android:theme="@style/LookupTheme"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden">
            	
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="wiktionary" android:host="lookup" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        
        <!-- Broadcast Receiver that will process AppWidget updates -->
        <receiver android:name="org.soundroid.widgets.wiktionary.WordWidget" android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_word" />
        </receiver>
        
        <!-- Service to perform web API queries -->
        <service android:name="org.soundroid.widgets.wiktionary.WordWidget$UpdateService" />
		
		
		<receiver android:name="org.soundroid.receivers.IntentReceiver" 
        		android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <service android:name="org.soundroid.services.SoundroidService" />
        
	</application>
	<uses-sdk android:minSdkVersion="3" />
</manifest>